* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Montserrat !important;
  -webkit-font-family: Montserrat !important;
}

.hero {
  color: #151515;
  background-color: #fff;
  height: 100%;
  padding-bottom: 80px;
}

.hero-img {
  margin-top: 200px;
  /* width: 560px;
  height: 789px; */
  margin-right: 368px;
}
.hero-img {
  margin: -10px auto auto 40px;
}

.hero-img {
  display: none;
  margin: 20px auto;
  width: 80%;
  display: block;
  overflow-x: hidden;
}
.hero-img {
  margin-top: 10vh;
}
.hero-img {
  margin-top: 10vh;
}
.hero-tag > strong {
  margin-left: 3px;
}
.about-tag {
  font-size: 16px;
  margin: 45px auto 45px;
  line-height: 35px;
  margin: 0;
}

.container {
  width: 70%;
}
.container {
  width: 100%;
}

@media screen and (min-width: 1680px) {
  .container {
    width: 70%;
  }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .about-tag {
    font-size: 16px;
    line-height: 30px;
  }
  .about-tag {
    margin: 45px auto !important;
    line-height: 42px !important;
    font-size: 21px;
  }
}
.about-tag {
  font-size: 16px;
  margin: 45px auto 45px;
  line-height: 35px;
}

/* view work and resume buttons */

.buttons {
  font-size: 16px;
  margin: 50px auto 65px;
}
.buttons {
  margin-top: 86px !important;
  font-size: 21px !important;
  border-radius: 18px;
  padding: 2px 30px 20px 40px !important;
  margin: 65px auto !important;
}

.buttons>a {
  background-color: grey;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 20px;

}
